<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Http" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2143/StudentWebService.svc/StudentWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="Http" contract="ServiceWebReference.IStudentWebService"
                name="Http" />
        </client>
    </system.serviceModel>
</configuration>